############################
# STM32CubeIDE / Eclipse
############################
.metadata/
RemoteSystemsTempFiles/

############################
# Build output / binaries
############################
Debug/
Release/
build/
*.o
*.d
*.elf
*.map
*.bin
*.hex
*.srec

############################
# CubeMX generated backups
############################
*.ioc-backup

############################
# Other IDEs
############################
.vscode/

############################
# Editor/OS temp files
############################
*~
*.swp
*.tmp
*.bak
.DS_Store
Thumbs.db
desktop.ini
